{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Prever</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<!-- ---------------- Cabeçalho, Navbar -->
	<div class="cabecalho">
		<div class="navbar">
			<a class="active" href="/"><i class="fa fa-fw fa-home"></i> Inicio</a>
			<a href="https://pedro.pythonanywhere.com" target="_blank"><i class="fa fa-address-card-o" aria-hidden="true"></i> Sobre</a>
		</div>
		<div class="titulo">
			<h1 class='victech'>PREVER</h1>
			<p>Veja aqui como será o tempo da semana!</p>
		</div>
	</div>

	<!------------------ Dados -->

	<!------------------ Filtro -->
	<div class="linha">
		<div class="colunaEsquerda">
			<div class="card">
				<form action="/" method="post">
					{% csrf_token %}
					<label>Cidade</label><br>
					<input type="text" name="cidade" placeholder="São Paulo"><br>
					<label>UF</label><br>
					<input type="text" name="estado" placeholder="SP">
					<br>
					<br>
					<div>
						<input type="submit" value="Ver a previsão" class="button">	
					</div>
				</form>
				<!------------------ Tabela -->
				{% if not dados %}
					<h1></h1>
				{% else %}
					<h5>A previsão para os próximos dias em {{cidade}} é</h5>
		    		<table>
		    			<tr>
		    				<th>Data</th>
		    				<th>Dia</th>
		    				<th>Temperatura Máxima</th>
		    				<th>Temperatura Mínima</th>
		    				<th>Condição</th>

		    			</tr>
		    			{% for item in dados %}
		        			<tr>
		        				<td>{{item.date}}</td>
			        			<td>{{item.weekday}}</td>
			        			<td>{{item.max}} ºC</td>
			        			<td>{{item.min}} ºC</td>
			        			<td>{{item.description}}</td>
		        			</tr>
			        	{% endfor %}
		    		</table>
	        	<h6>Consulta realizada em: {{data}}</h6>
		    	{% endif %}
        	</div>
        </div>
        <div class="colunaDireita">
			<div class="card">
				<h2>O que é?</h2>
				<p>
					O Prever é um APP que disponibiliza dados atualizados de previsão do tempo de uma determinada região do Brasil, o nosso
					serviço se baseia no consumo da API	HG Weather, assim, conseguimos uma apresentação rápida e atualizada.
				</p>
				<h2>Como usar?</h2>
				<p>
					Você deve informar o nome da cidade e o estado que deseja consultar, então você receberá em seguida os dados da previsão.
				</p>
			</div>			
		</div>
	</div>

	<!-- ---------------- Rodapé -->
	<footer>
		<a href="https://pedro.pythonanywhere.com" target="_blank">
  			<p class="rodape">© Pedro Henrique Vicente de Sousa</p>
  		</a>
	</footer>
</body>
</html>